@import './minxin';
.videoPage{
    .header{
        height: h(50);
        line-height: h(50);
        text-align: center;
        background: #c80405;
        img{height: h(40);margin-top:h(5)}
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    flex:1;overflow: auto;
    .videoBody{
        margin-top:h(60);
        height: auto;
        .box{
            width:w(354);
            margin: 0 auto;
            margin-bottom: h(20);
            border-bottom: 1px solid #f6f6f6;
            position: relative;
            .title{
                height:h(40);
                color: #333;
                font-size: .45rem;
                margin-bottom: h(10)
            }
            .Img{
                width:w(354);
                img{width: 100%}
            }
            .bot{
                span{
                    font-size: .29rem;
                    color: #bbb;
                    margin-right: w(5);
                }
            }
            .sanJiaheZi{
                position: absolute;
                width: w(40);
                height: h(40);
                background-color: rgba(0,0,0,.5);
                border: .03rem solid #fff;
                border-radius: 50%;
                left: 45%;
                top: 50%;
                .sanJia{
                    display:block;
                    width:0;
                    height:0;
                    border-width:w(10) w(0) w(10) w(15);
                    border-style:solid;
                    border-color:transparent transparent transparent #fff;/*透明 透明 透明 黄*/
                    position:absolute;
                    top:24%;
                    left: 34%;
                }
            }
        }
    }
}
.detil{
    h1{font-size: .55rem;
        font-weight: 400;}
    .meta{
        color: #999;
        font-size: .35rem;
        border-left: 1px solid #ffacac;
        padding-left: 0.1rem;   
        p{
            margin-bottom:.15rem;
            margin-top: 0;
            color: #999;
            font-size: .35rem;
            span{color: black;}    
        }
    }
    .conten{
        font-size:.45rem;
        line-height: 1.8;
         color: #626262;
    }
}
.prp{
    padding: h(10);
    margin-top: h(20);
    width: w(340);
    height: h(114);
    background-image:url('../img/mtk.png');
    p{text-align: center;margin-top: h(20)}
    .btn{
        margin: 0 auto;
        width: w(100);
        padding: .2rem;
        font-size: .4rem;
        border-radius: 50px;
        background: #c80405;
        color: #f6f6f6} 
}
.am-icon-left{
    position: fixed;
    top: w(8);
    z-index: 999;
}
